{% if pagination is defined and pagination.pages is not empty %}
<div class="pagination-wrapper">
    <nav class="pagination">
        {% if pagination.prev is not empty %}
            <a href="{{pagination.prev.link}}" title="Previous" class="pagination__prev pagination__control">Prev</a>
        {% endif %}
        {% if pagination.next is not empty %}
            <a href="{{pagination.next.link}}" title="Next" class="pagination__next pagination__control">Next</a>
        {% endif %}
        <ul class="pagination__list">
            {% for item in pagination.pages %}
                <li class="{{item.class}} pagination__item semibold i-block{% if item.current %} pagination__active{% endif %}">
                    <a href="{{item.link}}" class="pagination__link transition">{{item.name}}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
</div>
{% endif %}
